[submodule "ackermann_mux"]
	path = ackermann_mux
	url = https://github.com/f1tenth/ackermann_mux.git
	branch = foxy-devel
[submodule "teleop_tools"]
	path = teleop_tools
	url = https://github.com/f1tenth/teleop_tools.git
	branch = foxy-devel
[submodule "navigation2"]
	path = navigation2
	url = https://github.com/ros-planning/navigation2.git
[submodule "slam_toolbox"]
	path = slam_toolbox
	url = https://github.com/SteveMacenski/slam_toolbox.git
