[submodule "vesc"]
	path = vesc
	url = git@github.com:NVIDIA-ISAAC-ROS/vesc.git
	branch = ros2
[submodule "ackermann_mux"]
	path = ackermann_mux
	url = git@github.com:NVIDIA-ISAAC-ROS/ackermann_mux.git
	branch = foxy-devel
[submodule "teleop_tools"]
	path = teleop_tools
	url = git@github.com:NVIDIA-ISAAC-ROS/teleop_tools.git
	branch = foxy-devel
